@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>Name: Hans Angelo D. Villadiego <br /> </p>
<p>Age: 20 years old </p>
<p>Course & Year: BSIT 3rd Year </p>  
<p>Section: 31A1</p>

<div class="text-center">
    <h2>
        "My Expectations for Web Systems and Technologies"
    </h2>
    <ul>
        <li>Properly learn something about full stack development</li>
        <li>I want to understand what I am doing</li>
        <li>To be able to experience the challenge of this subject while still having fun</li>
        <li>To be able to create a simple website that is functional and user-friendly</li>
    </ul>
</div>  